# --- Python / Backend ---
**/__pycache__/
*.py[cod]
venv/
backend/vector_stores/
backend/__pycache__/

# --- Node / Frontend (Sửa 'frontend' thành 'fe') ---
fe/node_modules/
fe/dist/
node_modules/

# --- Dữ liệu & Môi trường ---
.env
.env.*
!.env.example
fe/.env.*
db_data/
data/
documenttation/

# --- System ---
.DS_Store